html,body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: none;
}

.coin-row-entry {
    padding: 15px 0;
    border-top: 1px solid lightgrey;
}
@font-face {
    font-family: 'TTNorms-Regular';
    font-style: normal;
    src: url('../fonts/TTNorms-Regular.ttf') format('truetype'), url('../fonts/TTNorms-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SFMonoRegular';
    font-style: normal;
    src: url('../fonts/SFMonoRegular.ttf') format('truetype'), url('../fonts/SFMonoRegular.woff') format('woff');
}
@font-face {
    font-family: 'TTNorms-Regular';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/TTNorms-Bold.ttf') format('truetype'), url('../fonts/TTNorms-Bold.woff') format('woff');
}
@font-face {
    font-family: 'BradleyHandITC';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Bradley-Hand-ITC.woff") format("woff"), 
   /* Modern Browsers */
    url('../fonts/Bradley-Hand-ITC.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    font-family: 'TTNorms-Regular', 'BradleyHandITC', serif;
}


.coinlist-col-title:hover {
    cursor: pointer;
}

.coinlist-col-title {
    font-weight: bold;
}

#coin-analysis-container {
    margin:0 auto; 
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
}

#value-over-time-section {
    padding: 40px 0;
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    color: white;
}

.go-back-button {
    padding: 25px 40px;
    border-radius: 25px;
    background-color: lightblue;
    color: white;
    margin-bottom: 15px;
    display: inline-block;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(170, 166, 166) !important
}

.coingecko-logo {
    max-width: 30px;
}

#powered-text {
    color: white;
    font-size: 17px;
    vertical-align: middle;
    margin-right: 10px;
}

.coin-stats {
    margin-top: 40px;

}

#header-bar p:first-of-type {
    margin-left: 30px;
}


.show-more {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: white;
    border-radius: 40px;
    background-color: #008CBA;
    margin-top: 40px;
    margin-bottom: 20px;
}

.show-more:hover {
    background-color: #177b9c;
    cursor: pointer;
}


#initial-amount-field {
    width: 30%;
}

.toast {
    margin-bottom: 40px !important;
}

.toast-body {
    font-size: 18px;
}

.toast-header {
    color: black;
    padding: 10px;
}

.toast:hover {
    transition: transform 250ms;
    transform: translateY(-10px);
}

.coin-stats .toast:nth-of-type(3) {
    margin-bottom: 0 !important;
}

#coin-details-section {
    padding: 30px 0 40px 0;
}


@media only screen and (max-width: 991px) {

    #initial-amount-field {
        width: 90%;
    }
}
